@import url('https://fonts.google.leapis.com/css?family=Ubuntu');
* {
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin:0;
}
.bg {
    background: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.polygon.com%2F22919571%2Fbest-anime-2022&psig=AOvVaw1Fvpf9swQSzNBTMcFsL3Fm&ust=1664109800153000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCMiYp566rfoCFQAAAAAdAAAAABAD')
 no-repeat center center/cover;
 position:absolute;
top:0;
left:0;
width:100vw;
height:100vw;
z-index:-1;
filter:blur(0px)
}
.loading-text{
    font-size: 50px;
    color:#fff;
}